.slider-container{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.slider-container h2{
    text-align: center;
    margin-bottom: 7rem;
    font-weight: 500 !important;

}
.slick-next{
    right: -3% !important;
}
.slick-prev{
    left: -3% !important;
    z-index: 1000 !important; 
}
.slick-next::before{
    color: white !important;
    z-index: 1000 !important; 
}
.slick-prev::before{
    color: white !important;
    z-index: 1000 !important; 
}

.slick-track{
    display: flex !important;
    gap: 12px !important;
}
.slick-dots li button::before{
    color: white !important;
}