.about-section{
    background: linear-gradient(0deg, rgb(0 0 0 / 10%) 0%, rgb(16 37 33 / 50%) 50%, #00100b 100%);
    height: 500px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color:white;
    padding-top: 4rem;
}