
.back-mount-div{
    z-index: 3;
    position: sticky;
    top: 10%;
}
.front-mount-div{
    z-index: 5;
    position: sticky;
    top: 10%;
}
.koadaiLogo-div{
    position: sticky;
    z-index: 6;
    top: 10%;
}