.about-home-main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 7rem;
}
.about-home-left, .about-home-right{
    width: 50%;
    height: 90%;
    display: flex;
}
.about-home-left{
    justify-content: start;
    align-items: center;
    background-color: #AB10AE;
    border-radius: 40px;
    overflow: hidden
}
.about-home-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about-home-right{
    height: auto !important;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 48px;
}
.about-home-right p, .about-home-right div{
    width: 70%;
    margin: auto;
}
.about-home-right button{
    margin-top: auto;
}