body{
  background-color: black;
  font-family: "Ubuntu", serif;
  letter-spacing: 2px;
  color: white;
}
.fill-btn-effect{
  position: relative;
  width: max-content;
  margin: 0px;
  outline: none;
  border: none;
  border-radius: 0px;
  padding: 12px 42px;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.fill-btn-effect:hover{
  background-color: white;
  color: black !important;
  transition: 0.3s ease-in-out;
}
.fill-btn-effect:before{
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.fill-btn-effect:hover:before{
  top: 0;
}
.btn{
  width: max-content;
  margin: 0px auto;
  outline: none;
  border: none;
  border-radius: 0px;
  padding: 12px 42px;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
/* this is for text loading animation */
.header-animation{
  opacity: 0;
  transform: translateY(-30px);
  transition: all 1s ease;
}
.header-animation.animate{
  opacity: 1;
  transform: translateY(0);
}
.text-animate{
  opacity: 0;
  transform: translateY(-30px);
  transition: all 1s ease;
}
.text-animate.animate{
  opacity: 1;
  transform: translateY(0);
}
.active{
  color: #2448E6 !important;
  font-family: "Anonymous Pro", monospace !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    text-decoration: none;
}
/* Header text styles */
.primary-header{
  font-size: 6rem;
}
.primary-sentence{
  font-size: 20px;
  font-weight: 100;
}
.secondary-header{
  font-size: 1.4rem;
  font-weight: 100 !important;
  text-transform: uppercase;
}
.third-header{
  font-size: 1.6rem;
  font-weight: 500 !important;
}
.fourth-header{
  font-size: 18px;
  font-weight: 100 !important;
}